services:
  redis:
    image: redis:8-alpine
    ports:
      - '6379:6379'

  redis-cluster:
    image: grokzen/redis-cluster:7.0.10
    environment:
      - IP=0.0.0.0
      - INITIAL_PORT=7010
    ports:
      - '7010-7015:7010-7015'
